/*
Theme Name: Magazine Prime
Theme URI: http://themeinwp.com/theme/magazine-prime
Author: ThemeInWP
Author URI: http://www.themeinwp.com/
Description: Magazine Prime is a perfect Modern WordPress magazine theme you can choose to build a professional news website for News and magazine sites, Tech Reviews, Health, Beauty and Fashion  lifestyle, Arts, Celebrity News and Articles, to sports, movies and other entertainment. You have multiple options to select from wide range of theme options and numerous layouts that fits your necessity. Magazine Prime is a perfect canvas for your Magazine website or blog, while wide theme functionality and advanced blogging options make website setup easy and intuitive. It uses the best clean SEO practices, and on top of that, it's fast, simple, and easy to use. Beside this We offer great support and friendly help! See our demo : http://demo.themeinwp.com/magazine-prime and supports at : http://www.themeinwp.com/support-forum/forum/magazine-prime
Version: 1.0.2
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: magazine-prime
Tags: blog, news, entertainment, one-column, two-columns, left-sidebar, right-sidebar, custom-background, custom-menu, featured-images, full-width-template, custom-header, translation-ready, theme-options, threaded-comments, footer-widgets


Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
    ## Links
    ## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
    ##search
    ##Admin only visible css
    ##Social Icon
    ##Slider
    ## Homepage
    ## Posts and pages
# Footer
    ##Backtotop
# Infinite scroll
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
    font-family: sans-serif;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

svg:not(:root) {
    overflow: hidden;
}

hr {
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
html {
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
}

body,
button,
input,
select,
textarea {
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    letter-spacing: 0.6px;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: 600;
}

h1, h2, h3 {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

h4, h5, h6 {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
}

p {
    margin-bottom: 1.5em;
}

dfn, cite, em, i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code, kbd, tt, var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr, acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark, ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
    box-sizing: inherit;
}

body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
    quotes: "" "";
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
}

ul, ol {
    margin: 0 0 1.5em 3em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 1.5em;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 1.5em 1.5em;
}

img {
    height: auto;
    /* Make sure images are scaled correctly. */
    max-width: 100%;
    /* Adhere to container width. */
}

table {
    margin: 0 0 1.5em;
    width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, 0.8);
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1;
    padding: .6em 1em .4em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb;
}

.twp-btn,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    line-height: 1;
    overflow: hidden;
    padding: 10px 20px;
    position: relative;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transform: perspective(0);
    -ms-transform: perspective(0);
    -webkit-transform: perspective(0);
    transform: perspective(0);
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    -webkit-transition: all 0.7s ease;
    -webkit-transition-delay: 0s;
    transition: all 0.7s ease 0s;
}

.twp-btn:before,
.woocommerce #respond input#submit:before,
.woocommerce a.button:before,
.woocommerce button.button:before,
.woocommerce input.button:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffc000;
    z-index: -1;
    -moz-transform: rotate(45deg) scaleY(0);
    -ms-transform: rotate(45deg) scaleY(0);
    -webkit-transform: rotate(45deg) scaleY(0);
    transform: rotate(45deg) scaleY(0);
    -moz-transition: -moz-transform 0.5s linear 0s;
    -o-transition: -o-transform 0.5s linear 0s;
    -webkit-transition: -webkit-transform 0.5s linear;
    -webkit-transition-delay: 0s;
    transition: transform 0.5s linear 0s;
}

.twp-btn:hover,
.twp-btn:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus {
    -moz-transform: perspective(400px);
    -ms-transform: perspective(400px);
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
}

.twp-btn:hover:before,
.twp-btn:focus:before,
.woocommerce #respond input#submit:hover:before,
.woocommerce #respond input#submit:focus:before,
.woocommerce a.button:hover:before,
.woocommerce a.button:focus:before,
.woocommerce button.button:hover:before,
.woocommerce button.button:focus:before,
.woocommerce input.button:hover:before,
.woocommerce input.button:focus:before {
    -moz-transform: rotate(45deg) scaleY(5);
    -ms-transform: rotate(45deg) scaleY(5);
    -webkit-transform: rotate(45deg) scaleY(5);
    transform: rotate(45deg) scaleY(5);
}

.twp-btn.twp-btn-primary,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button {
    background: #ffc000;
    border: 0;
    color: #fff;
}

.twp-btn-primary:before,
.woocommerce #respond input#submit:before,
.woocommerce a.button:before,
.woocommerce button.button:before,
.woocommerce input.button:before {
    background: #ffc000;
}

.twp-btn-primary:hover,
.twp-btn-primary:focus,
.woocommerce #respond input#submit:hover,
.woocommerce #respond input#submit:focus,
.woocommerce a.button:hover,
.woocommerce a.button:focus,
.woocommerce button.button:hover,
.woocommerce button.button:focus,
.woocommerce input.button:hover,
.woocommerce input.button:focus {
    background: #353535;
    color: #fff;
}

.twp-btn.twp-btn-secondary {
    background: #ffc000;
    border: 0;
    color: #fff;
}

.twp-btn-secondary:before {
    background: #ffc000;
}

.twp-btn-secondary:hover,
.twp-btn-secondary:focus {
    color: #fff;
}

.twp-btn.twp-btn-element {
    background: #353543;
    border: 0;
    color: #fff;
}

.twp-btn-element:before {
    background: #ffc000;
}

.twp-btn-element:hover,
.twp-btn-element:focus {
    color: #fff;
}

.twp-btn-transparent {
    color: #fff;
    background: transparent;
}

.twp-btn-transparent:before {
    background: #ffc000;
}

.twp-btn-transparent:hover,
.twp-btn-transparent:focus {
    color: #fff;
    border-color: #ffc000;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    outline: 0;
}

input[type="text"]:focus, input[type="text"]:hover,
input[type="email"]:focus,
input[type="email"]:hover,
input[type="url"]:focus,
input[type="url"]:hover,
input[type="password"]:focus,
input[type="password"]:hover,
input[type="search"]:focus,
input[type="search"]:hover,
input[type="number"]:focus,
input[type="number"]:hover,
input[type="tel"]:focus,
input[type="tel"]:hover,
input[type="range"]:focus,
input[type="range"]:hover,
input[type="date"]:focus,
input[type="date"]:hover,
input[type="month"]:focus,
input[type="month"]:hover,
input[type="week"]:focus,
input[type="week"]:hover,
input[type="time"]:focus,
input[type="time"]:hover,
input[type="datetime"]:focus,
input[type="datetime"]:hover,
input[type="datetime-local"]:focus,
input[type="datetime-local"]:hover,
input[type="color"]:focus,
input[type="color"]:hover{
    color: #ffc000;
    outline: 0;
}

select {
    border: 1px solid #ccc;
}

textarea {
    width: 100%;
}

.meta-icon {
    margin-right: 5px;
    color: #ffc000;
    font-size: 16px;
    line-height: normal;
    vertical-align: middle;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #434343;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:hover, a:focus, a:active {
    color: #000;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

a:hover, a:active {
    outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/*------------------------------------------------------------
* ## Menus
*------------------------------------------------------------
*/
.top-bar {
    border-bottom: 1px solid #eee;
    color: #333;
}

.top-bar .social-icons ul li {
    border-right: 1px solid #eeeeee;
}

.top-bar .social-icons ul li:first-child {
    border-left: 1px solid #eeeeee;
}

.time-set-up {
    display: block;
    height: 50px;
    line-height: 50px;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
}
@media only screen and (min-width: 1025px) {
    .top-navigation {
        display: block;
    }
}
.top-nav {
    position: absolute;
    z-index: 9999;
    left: 15px;
    right: 15px;
}

.top-navigation {
    float: left;
    position: relative;
}

.top-bar .menu {
    float: left;
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.top-bar .menu > li:first-child {
    border-left: 1px solid #eeeeee;
}

.top-bar .menu > li {
    display: block;
    float: left;
    position: relative;
    border-right: 1px solid #eeeeee;
}

.top-bar .menu > li:last-child {
    border-right: 0;
}

.top-bar .menu > li > a {
    display: block;
    line-height: 50px;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-bar .menu > li.menu-item-has-children > a {
    padding-right: 30px;
}

.top-bar .menu > li.menu-item-has-children > a:after {
    color: #000;
    position: absolute;
    top: 18px;
    right: 10px;
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: normal;
    margin-left: 8px;
    content: "\f3d0";
}

.top-bar .menu > li ul {
    display: none;
    visibility: hidden;
}

.top-bar .menu > li:hover ul,
.top-bar .menu > li:focus ul {
    background: #eeeeee;
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: inherit;
    min-width: 200px;
    visibility: visible;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.top-bar .menu > li ul a {
    border-bottom: 1px solid #d8d8d8;
    display: block;
    padding: 10px 15px;
}

.top-bar .menu > li ul li:last-child a {
    border: 0;
}
@media only screen and (max-width: 1024px) {
    .mobile-icon {
        display: inline-block;
        font-size: 28px;
        text-align: center;
        height: 50px;
        line-height: 50px;
        border-left: 1px solid #eee;
        width: 60px;
    }
    .mobile-icon a{
        display: block;
    }

    #Foo {
        position: absolute;
        z-index: 99;
        width: 253px;
        background: #eee;
    }
    .top-bar .menu > li{
        width: 100%;
        width: 100%;
        border: 0 !important;
    }
}
.header-middle {
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}

#masthead {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}

.top-header {
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.nav-affix .top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.site-header .site-branding {
    float: left;
    padding: 15px 0;
    text-align: left;
    width: 100%;
}

.site-branding .site-title {
    display: block;
    font-size: 28px;
    font-weight: 700;
}

.site-branding .site-title a {
    color: #434343;
}

.site-branding .site-description {
    margin-bottom: 0;
}

.site-branding a[rel="home"] {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
    .site-branding {
        max-width: 100%;
        margin-top: 30px;
        text-align: center !important;
    }
}

.right-nav {
    padding: 0;
    list-style: none;
    margin: 0 auto;
}

.right-nav li {
    display: block;
    float: left;
}

.right-nav li a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 20px;
}

.search-button {
    display: block;
    padding: 15px 22px;
}

.search-icon {
    display: inline-block;
    height: 5px;
    width: 22px;
    border-radius: 0;
    transition: 0.3s;
    background: transparent;
    position: relative;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg)
}

.search-icon::before,
.search-icon::after {
    display: inline-block;
    border-radius: 0;
    transition: 0.3s;
    background: transparent;
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    margin: auto
}

.search-icon::before {
    height: 2px;
    left: 0;
    background: #fff;
    border-radius: 2px;
}

.search-icon::after {
    right: 0;
    background: #ffc000;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    border: 2px solid #fff;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
}

.search-button.active .search-icon::before,
.search-button.active .search-icon::after {
    border-radius: 2.85714px;
    background: #fff;
}

.search-button.active .search-icon::before {
    height: 2px;
    left: 0;
    background: #fff;
    border-radius: 2px;
}

.search-button.active .search-icon::after {
    height: 2px;
    width: 100%;
    top: 0;
    right: 0;
    border: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
}

.main-navigation .menu {
    float: left;
    -webkit-transition: padding 0.4s;
    -moz-transition: padding 0.4s;
    -ms-transition: padding 0.4s;
    -o-transition: padding 0.4s;
    transition: padding 0.4s;
    -webkit-transform: translateZ(0);
}

.main-navigation .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navigation .menu li {
    position: relative;
}

.main-navigation .menu > ul > li {
    float: none;
    display: inline-block;
}

.main-navigation .menu ul a {
    position: relative;
    display: block;
    padding: 15px 15px;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.main-navigation .menu > ul > li.current-menu-item > a,
.main-navigation .menu > ul > li:hover > a,
.main-navigation .menu > ul > li:focus > a {
    background: #32323c;
    color: #fff;
}

.main-navigation .menu ul a:hover:after {
    border-bottom-color: #ffffff;
}

.main-navigation .menu ul ul li {
    width: 250px;
}

.main-navigation .menu ul ul a {
    padding: 15px 20px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.5;
    text-transform: uppercase;
}

.main-navigation .menu ul ul a:before {
    margin-right: 10px;
    content: "\f3d3";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.main-navigation .menu ul ul a:hover {
    background-color: #3e3e4a;
}

.main-navigation .menu ul ul {
    position: absolute;
    text-align: left;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -moz-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -ms-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    -o-transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
    transition: opacity 0.2s, top 0.4s, visibility 0s linear 0.4s;
}

.main-navigation .menu li:hover > ul {
    visibility: visible;
    filter: alpha(opacity=1);
    opacity: 1;
    -webkit-transition: opacity 0.4s, top 0.4s;
    -moz-transition: opacity 0.4s, top 0.4s;
    -ms-transition: opacity 0.4s, top 0.4s;
    -o-transition: opacity 0.4s, top 0.4s;
    transition: opacity 0.4s, top 0.4s;
}

.main-navigation .menu > ul > li > ul {
    top: 90%;
    left: 0;
    background-color: #32323c;
}

.main-navigation .menu > ul > li:last-child > ul {
    left: auto;
    right: 0;
}

.main-navigation .menu > ul > li:hover > ul,
.main-navigation .menu > ul > li:focus > ul {
    top: 100%;
}

.main-navigation .menu ul ul ul {
    top: -20px;
    left: 100%;
    background-color: #BDC3C7;
}

.main-navigation .menu > ul > li:last-child ul ul,
.main-navigation .menu > ul > li:nth-last-child(2) ul ul {
    left: -100%;
}

.main-navigation .menu ul ul li:hover ul {
    top: 0;
}

.main-navigation .menu.mobile ul ul {
    display: none;
}

.main-navigation .menu i {
    color: inherit;
}

.main-navigation .menu > ul > li > a i {
    background-color: #161616;
    padding: 5px 7px;
}

#site-navigation {
    position: relative;
}

.twp-adv-header {
    float: right;
}

/*------------------------------------------------------------
 * ## Mobile Navigation
 *------------------------------------------------------------
 */
#nav-toggle {
    background: #ffc000;
    display: none;
    position: absolute;
    top: 0;
    margin: auto;
    left: 0;
    width: 60px;
    height: 56px;
    z-index: 9999;
    cursor: pointer;
    -webkit-transition: top 0.6s, right 0.4s;
    -moz-transition: top 0.6s, right 0.4s;
    -ms-transition: top 0.6s, right 0.4s;
    -o-transition: top 0.6s, right 0.4s;
    transition: top 0.6s, right 0.4s;
}

.open #nav-toggle {
    position: fixed;
    left: 0;
    top: 0;
    margin: 0 auto;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #fff;
    content: '';
    cursor: pointer;
}

.site-header.open #nav-toggle span:before,
.site-header.open #nav-toggle span:after {
    background-color: #fff;
}

#nav-toggle span {
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

#nav-toggle span:before {
    top: -6px;
}

#nav-toggle span:after {
    bottom: -6px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.open #nav-toggle span {
    background-color: transparent;
}

.open #nav-toggle span:before,
.open #nav-toggle span:after {
    top: 0;
}

.open #nav-toggle span:before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open #nav-toggle span:after {
    top: 5px;
    -webkit-transform: translateY(-5px) rotate(-45deg);
    -moz-transform: translateY(-5px) rotate(-45deg);
    -ms-transform: translateY(-5px) rotate(-45deg);
    -o-transform: translateY(-5px) rotate(-45deg);
    transform: translateY(-5px) rotate(-45deg);
}

@media only screen and (max-width: 991px) {
    #nav-toggle,
    .main-navigation .menu > ul > li,
    .main-navigation .menu li.parent.show > ul {
        display: block;
        float: none;
    }

    .main-navigation .menu ul {
        padding-top: 60px;
    }

    .main-navigation .menu {
        position: fixed;
        top: 0;
        left: -280px;
        right: auto;
        height: 100%;
        width: 280px;
        background-color: #222222;
        float: none;
        line-height: 1.5;
        text-align: left;
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        z-index: 999;
        -webkit-transform: translateZ(0);
        -webkit-transition: left 0.4s, visibility 0s linear 0.4s;
        -moz-transition: left 0.4s, visibility 0s linear 0.4s;
        -ms-transition: left 0.4s, visibility 0s linear 0.4s;
        -o-transition: left 0.4s, visibility 0s linear 0.4s;
        transition: left 0.4s, visibility 0s linear 0.4s;
    }

    .open .menu {
        left: 0;
        visibility: visible;
        -webkit-transition: left 0.4s;
        -moz-transition: left 0.4s;
        -ms-transition: left 0.4s;
        -o-transition: left 0.4s;
        transition: left 0.4s;
    }

    .main-navigation .menu ul ul li {
        margin-left: 20px;
    }

    .main-navigation .menu ul ul {
        position: static;
        visibility: visible;
        filter: alpha(opacity=1);
        opacity: 1;
        background-color: transparent !important;
        box-shadow: none;
    }

    .main-navigation .menu ul ul li {
        width: auto;
    }

    .main-navigation .menu li.parent {
        position: relative;
    }

    .main-navigation .menu li.parent:after {
        position: absolute;
        top: 15px;
        right: 10px;
        color: #fff;
        display: inline-block;
        font-family: "Ionicons";
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        text-rendering: auto;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 9px;
        font-weight: normal;
        content: "\f3d0";
    }

    .main-navigation .menu > ul > li.menu-item-has-children > a:after,
    .main-navigation .menu ul a:hover:after {
        display: none;
    }

    .main-navigation .menu ul a,
    .main-navigation .menu ul ul a {
        padding: 10px 15px;
    }

    #masthead .top-header .menu.mobile a {
        color: #fff;
    }
}

.news-ticker-wrapper {
    background: #f3f3f3;
}

.news-ticker-headline {
    float: left;
}

.news-ticker-headline h2 {
    display: block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0 15px 0 0;
    text-transform: uppercase;
}

.news-ticker {
    line-height: 40px;
}

.news-ticker .ticker-text {
    border: 0;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-ticker .ticker-text a {
    color: #333;
}

.news-ticker .slide-prev,
.news-ticker .slide-next {
    top: 0;
    width: 40px;
    font-size: 20px;
}

.news-ticker .slide-prev {
    right: 40px;
    left: inherit;
}

.news-ticker .slide-next {
    right: 0;
}

.news-ticker .slide-icon:before {
    height: 40px;
    line-height: 40px;
}

@media only screen and (max-width: 767px) {
    .news-ticker-headline {
        width: 100%;
    }

    .news-ticker-headline h2 {
        margin: 0 auto;
    }

    .news-ticker {
        width: 100%;
        clear: both;
    }

    .news-ticker:before,
    .news-ticker:after {
        display: table;
        content: "";
        clear: both;
    }

    .news-ticker .slide-prev,
    .news-ticker .slide-next {
        top: -40px;
    }

    .news-ticker .ticker-text {
        padding-left: 15px;
        padding-right: 15px;
    }
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
##color and font
--------------------------------------------------------------*/
.primary-bgcolor {
    background: #32323c;
    color: #fff;
}

.secondary-bgcolor {
    background: #3e3e4a;
    color: #fff;
}

.secondary-bgcolor a {
    color: #fff;
}

.widget-bgcolor {
    background: #fff;
    color: #333;
}

body .widget-bgcolor a {
    color: #333;
}

.alt-bgcolor {
    background: #FFC000;
    color: #fff;
}

.alt-bordercolor {
    border-color: #FFC000;
}

.inner-heading,
.block-text {
    color: #434343;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    display: block;
}

.inner-heading {
    padding-top: 20px;
}

.block-text > span {
    font-size: 44.8px;
    font-size: 2.8rem;
    line-height: 1.6;
    border-bottom: solid 1px;
}

#trendingCollapse {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 9;
}

@media only screen and (max-width: 991px) {
    #trendingCollapse {
        max-height: 250px;
        overflow-y: scroll;
    }

}

/*--------------------------------------------------------------
##search
--------------------------------------------------------------*/
.search-box {
    display: none;
    background: #f1f1f1;
    padding: 20px 42px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    transition: background-color 500ms ease-in-out;
}

.search-box .search-form {
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}

.search-box .search-form label {
    float: left;
    width: 85%;
    width: calc(100% - 200px);
}

.search-box .search-form label .search-field {
    width: 100%;
    background: transparent;
    border-width: 1px 0 1px 1px;
    border-color: #e6e6e6;
    border-style: solid;
    font-size: 20px;
    font-size: 1.25rem;
}

.search-box .search-form .search-submit {
    width: 200px;
    border-width: 1px 1px 1px 0;
    border-color: #e6e6e6;
    border-style: solid;
}

.search-box .search-form label .search-field::-webkit-input-placeholder {
    color: #434343;
}

.search-box .search-form label .search-field:-moz-placeholder {
    color: #434343;
}

.search-box .search-form label .search-field::-moz-placeholder {
    color: #434343;
}

.search-box .search-form label .search-field:-ms-input-placeholder {
    color: #434343;
}

/*--------------------------------------------------------------
##Admin only visible css
--------------------------------------------------------------*/
.display-info {
    padding-top: 200px;
    padding-bottom: 200px;
}

.col-pad-0 [class*="col-"] {
    padding: 0;
}

.margin-0 {
    margin: 0 auto !important;
}

.sticky {
    display: block;
}

.home.blog .site-content,
.site-content {
    margin: 0 auto;
    padding: 45px 0 60px;
    width: 100%;
    max-width: 1170px;
}

.home .site-content {
    padding: 0;
    max-width: inherit;
}

.data-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.boxed-layout {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#primary,
#secondary {
    float: left;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

@media only screen and (min-width: 992px) {
    #primary {
        width: 70%;
    }

    #secondary {
        width: 30%;
    }

    .sidebar-full-width #secondary {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    #primary,
    #secondary {
        padding-left: 15px;
        padding-right: 15px;
    }

}

body.left-sidebar #primary {
    float: right;
}

body.no-sidebar #primary {
    width: 100%;
}

body.no-sidebar #secondary {
    display: none !important;
    width: 0px;
    height: 0px;
    visibility: hidden;
    filter: alpha(opacity=0);
    opacity: 0;
}

.section-block {
    clear: both;
}

.section-block:before,
.section-block:after {
    clear: both;
    content: "";
    display: table;
}

.section-title {
    font-size: 26px;
    line-height: 1.2;
    margin: 0 auto 20px;
    background: url("images/title-pattern.png") repeat;
}

.section-title span {
    display: table-cell;
    padding: 5px 15px;
}

body .inner-banner {
    background-position: center center;
    background-size: cover;
    padding: 110px 0;
    position: relative;
}

body .inner-banner-img {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.breadcrumbs {
    color: #fff;
    font-size: 11px;
    float: right;
    font-weight: 400;
    letter-spacing: 0.2em;
    padding: 5px 0;
    text-transform: uppercase;
    -webkit-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -moz-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -o-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    -ms-transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
    transition: all 0.27s cubic-bezier(0, 0, 0.58, 1);
}

.breadcrumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.breadcrumbs ul li {
    display: inline;
}

.breadcrumbs ul .trail-item span {
    color: #fff;
    position: relative;
    padding-left: 7px;
    padding-right: 7px;
}

.breadcrumbs ul .trail-item.trail-begin span {
    padding-left: 0;
}

.breadcrumbs ul li span:before {
    background: rgba(255, 255, 255, 0.2);
    content: "";
    display: block;
    width: 1px;
    height: 13.2px;
    position: absolute;
    top: 10px;
    left: 0;
    margin-top: -6.6px;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.breadcrumbs ul .trail-item.trail-begin span:before {
    content: none;
}

.inner-header-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.entry-meta {
    padding: 5px 15px;
    position: relative;
}

.entry-meta > span {
    margin-right: 15px;
}

.entry-header .entry-title {
    color: #fff;
    margin: 0 0 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
    width: 100%;
}

.entry-header .entry-title span {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 15px;
}

.entry-title {
    border-bottom: 1px solid #ccc;
    color: #ffc000;
    display: block;
    padding-bottom: 15px;
    position: relative;
    font-weight: 600;
}

.entry-title::after {
    content: '';
    display: block;
    width: 250px;
    height: 1px;
    background: #ffc000;
    position: absolute;
    bottom: -1px;
    top: inherit;
    left: 0;
    right: 0;
    transition: width .3s;
}

.entry-title:hover::after {
    width: 100%;
}

.site-content .entry-content .twp-image-archive {
    width: 100%;
}

.site-content .entry-content .image-left {
    float: left;
}

.site-content .entry-content .image-right {
    float: right;
}

.site-content .entry-footer {
    border: 1px solid #ccc;
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 5px 15px;
    margin: 15px auto 50px;
}

span.cat-links,
span.comments-link {
    margin-right: 10px;
}

@media only screen and (min-width: 768px) {
    .site-content .entry-content .image-left {
        margin-right: 3%;
    }

    .home.blog .site-content .entry-content .image-left,
    .archive .site-content .entry-content .image-left {
        width: 32%;
    }

    .site-content .entry-content .image-right {
        margin-left: 3%;
    }

    .home.blog .site-content .entry-content .image-right,
    .archive .site-content .entry-content .image-right {
        width: 32%;
    }

    .home.blog .site-content .entry-content.archive-image-full p,
    .archive .site-content .entry-content.archive-image-full p {
        width: 100%;
    }
}

.site-content .entry-content .image-full {
    text-align: center;
    margin: 0 auto 30px;
}

.site-content .entry-content .twp-image-archive {
    position: relative;
}

/*------------------------------------------------------------
 * ## Post-navigation
 *------------------------------------------------------------
 */
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
    border: 1px solid #bac2cc;
    overflow: hidden;
    margin: 0 0 1.5em;
    padding: 0;
    position: relative;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    width: 50%;
    position: relative;
}

.nav-previous,
.nav-next {
    display: table;
    padding: 5px 5px;
}

.nav-previous:hover,
.nav-previous:focus,
.nav-next:hover,
.nav-next:focus {
    background: #e6e6e6;
}

.nav-previous:before,
.nav-next:after {
    content: "";
    display: table-cell;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-previous:before {
    content: "\f3d2";
}

.nav-next:after {
    content: "\f3d3";
}

.nav-previous a,
.nav-next a {
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%;
}

.site-main .comment-navigation:after,
.site-main .posts-navigation:after,
.site-main .post-navigation:after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #bac2cc;
}

/*------------------------------------------------------------
 * ## Asides
 *------------------------------------------------------------
 */
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    font-size: 16px;
    margin: 0 0 1.5em;
}

#secondary .widget {
    margin-bottom: 20px;
}

#secondary .widget:last-child {
    margin-bottom: 20px;
}

.widget ol,
.widget ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.widget ol li,
.widget ul li {
    margin-bottom: 10px;
}

/* Make sure select elements fit in widgets. */
.widget select {
    max-width: 100%;
}

.widget-title {
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #ffc000;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.bordered-title {
    padding-bottom: 15px;
    position: relative;
}

.widget-title:after {
    background: #ffc000;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100px;
}

.search-form label .search-field {
    height: 45px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search-form .search-submit {
    background: #434343;
    color: #fff;
    height: 45px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.widget_tag_cloud,
.widget_product_tag_cloud {
    position: relative;
    z-index: 2;
}

.widget_tag_cloud .tagcloud:before, .widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:before,
.widget_product_tag_cloud .tagcloud:after {
    display: table;
    content: "";
}

.widget_tag_cloud .tagcloud:after,
.widget_product_tag_cloud .tagcloud:after {
    clear: both;
}

.widget_tag_cloud .tagcloud a,
.widget_product_tag_cloud .tagcloud a {
    position: relative;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-size: 100% !important;
    font-weight: 300;
    line-height: 1.3;
    margin: 0 12px 12px 0;
    padding: 10px 13px 4px 15px;
    padding: .84em 1em .84em 1.3em;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    vertical-align: middle;
    -webkit-transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    transition: color 0.3s ease, border-color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.widget_tag_cloud .tagcloud a:hover,
.widget_product_tag_cloud .tagcloud a:hover {
    background-color: #f5f4f0;
}

.widget_tag_cloud .tagcloud a::before,
.widget_product_tag_cloud .tagcloud a::before,
.widget_tag_cloud .tagcloud a::after,
.widget_product_tag_cloud .tagcloud a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #3f4653;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.widget_tag_cloud .tagcloud a:hover::before,
.widget_product_tag_cloud .tagcloud a:hover::before {
    margin-top: 4px;
    margin-left: -4px;
}

.widget_tag_cloud .tagcloud a:hover::after,
.widget_product_tag_cloud .tagcloud a:hover::after {
    margin-top: -4px;
    margin-left: 4px;
    z-index: -1;
}

/*Widget Calander*/
#wp-calendar {
    width: 100%;
    margin: 0;
}

#wp-calendar caption {
    text-align: right;
    margin-bottom: 15px;
    margin-top: -10px;
}

#wp-calendar thead th {
    text-align: center;
}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    background: #000000;
    border: 1px solid #333;
    text-align: center;
    padding: 8px;
}

.site-content #wp-calendar tbody td {
    background: #f5f5f5;
    border: 1px solid #fff;
}

#wp-calendar tbody td:hover,
#wp-calendar tbody td:focus {
    background: #ffc000;
    color: #fff;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-transform: uppercase;
    text-align: right;
    border: none;
    background: none;
}

#wp-calendar tfoot #prev {
    text-transform: uppercase;
    text-align: left;
    border: none;
    background: none;
}

#wp-calendar tfoot td.pad {
    display: none;
}

.widget_recent_entries ul li {
    border-bottom: 1px solid #f3f3f3;
    padding-bottom: 15px;
}

.footer-widget .widget_recent_entries ul li {
    border-color: #333;
}

.widget_recent_entries ul li:last-child {
    border: 0;
    padding-bottom: 0;
}

.widget_recent_entries ul li a {
    display: block;
    font-weight: 700;
}

.widget_recent_entries ul li .post-date {
    font-size: 80%;
}

/*Custom Widgets*/
.widget:before,
.widget:after {
    content: "";
    clear: both;
    display: table;
}

.twp-widget-wrapper .featured-article {
    position: relative;
}
#primary .twp-widget-wrapper .col-half {
    width: 50%;
    float: left;
}

#primary .twp-widget-wrapper .col-half:nth-child(odd),
#primary .twp-widget-wrapper .col-half.col-half-left {
    padding-right: 10px;
}

#primary .twp-widget-wrapper .col-half:nth-child(even),
#primary .twp-widget-wrapper .col-half.col-half-right {
    padding-left: 10px;
}

@media only screen and (max-width: 767px) {
    #primary .twp-widget-wrapper .col-half {
        width: 100%;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

.site-content .tabbed-container .section-title {
    border: 0;
}

.site-content .tabbed-container .nav-tabs > li {
    border-bottom: 4px solid #ffc000;
    margin: 0 auto;
}

.tabbed-container .nav-tabs > li a {
    border: 0 !important;
    border-radius: 0;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
}

.site-content .tabbed-container .nav-tabs > li a {
    background: #3e3e4a;

}

.site-content .tabbed-container .nav-tabs > li.active a,
.site-content .tabbed-container .nav-tabs > li:hover a {
    background: #FFC000;
    color: #fff;
}

figure.article-thumbmnail {
    float: left;
    overflow: hidden;
    vertical-align: middle;
}

.comments-content {
    margin-top: 15px;
}

.article-panel:last-child .article-list {
    border: none;
    padding-bottom: 0;
}

#primary .widget .widget-title {
    font-size: 26px;
    line-height: 1.2;
    margin: 0 auto 20px;
    padding: 0;
    background: url(images/title-pattern.png) repeat;
    border: 0 !important;
}

#primary .widget .widget-title span {
    display: table-cell;
    padding: 5px 15px;
}

#primary .widget .widget-title:after {
    display: none;
    visibility: hidden;
}

/*------------------------------------------------------------
 * ## Comments
 *------------------------------------------------------------
 */
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

.comments-area ul,
.comments-area ol {
    list-style: none;
}

.comments-area .comment-list {
    padding-left: 0;
    margin-left: 0;
}

.comment-meta {
    margin-bottom: 15px;
}

.comment-author .avatar {
    float: left;
    height: 32px;
    margin-right: 0.8em;
    width: 32px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -ms-border-radius: 30px;
}

.comment-awaiting-moderation {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment-form label {
    color: #707070;
    font-size: 15px;
    font-weight: 700;
    display: block;
    line-height: 1.5;
    text-transform: uppercase;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
    border-color: #e4e4e4;
    width: 100%;
}

.comment-form-author,
.comment-form-email {
    width: 50%;
    float: left;
}

.comment-form-author {
    padding-right: 10px;
}

.comment-form-email {
    padding-left: 10px;
}

/*--------------------------------------------------------------
##Social Icon
--------------------------------------------------------------*/
.social-icons {
    width: 100%;
    float: left;
    margin-left: 0;
    padding-left: 0;
}

.social-icons ul {
    float: none;
    margin: 0 auto;
    padding: 0;
}

.social-icons ul li {
    display: block;
    float: left;
}

.social-icons ul a {
    position: relative;
    color: #fff;
}

.social-icons ul a span {
    display: none;
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
}

.social-icons ul li a:after {
    background: #f9f9f9;
    display: inline-block;
    font-weight: 400;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    width: 60px;
    font-size: 32px;
    font-size: 2rem;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.social-icons.bordered-radius ul a:after {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
}

.social-icons ul li:hover a:after,
.social-icons ul li:focus a:after,
.social-icons ul li:active a:after {
    color: #fff !important;
}

.social-icons ul a:after {
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    width: 46px;
    font-size: 20px;
    line-height: 46px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.widget.widget_nav_menu ul a:before {
    display: inline-block;
    font-family: "Ionicons";
    font-size: 32px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    vertical-align: middle;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 15px 15px;
    width: 60px;
    margin-right: 15px;
    text-align: center;
}

.widget.widget_nav_menu ul li a {
    display: block;
    position: relative;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    z-index: 99;
}

.widget.widget_nav_menu ul a:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    background: #333;
    opacity: .85;
    filter: alpha(opacity=85);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.widget.widget_nav_menu ul li:hover a:before,
.widget.widget_nav_menu ul li:focus a:before {
    opacity: .85;
    filter: alpha(opacity=85);
    text-shadow: 1px 1px 1px #000;
}

.social-icons ul a[href*="dribbble.com"]:after,
.widget.widget_nav_menu ul a[href*="dribbble.com"]:before {
    content: "\f22d";
}

.social-icons ul a[href*="dribbble.com"]:after {
    color: #e0218a !important;
}

.social-icons ul li:hover a[href*="dribbble.com"]:after,
.widget.widget_nav_menu ul li a[href*="dribbble.com"]:before,
.widget.widget_nav_menu ul li a[href*="dribbble.com"]:after {
    background: #e0218a !important;
}

.social-icons ul a[href*="facebook.com"]:after,
.widget.widget_nav_menu ul a[href*="facebook.com"]:before {
    content: "\f231";
}

.social-icons ul a[href*="facebook.com"]:after {
    color: #3b5998 !important;
}

.social-icons ul li:hover a[href*="facebook.com"]:after,
.widget.widget_nav_menu ul li a[href*="facebook.com"]:before,
.widget.widget_nav_menu ul li a[href*="facebook.com"]:after {
    background: #3b5998 !important;
}

.social-icons ul a[href*="twitter.com"]:after,
.widget.widget_nav_menu ul a[href*="twitter.com"]:before {
    content: "\f243";
}

.social-icons ul a[href*="twitter.com"]:after {
    color: #0084b4 !important;
}

.social-icons ul li:hover a[href*="twitter.com"]:after,
.widget.widget_nav_menu ul li a[href*="twitter.com"]:before,
.widget.widget_nav_menu ul li a[href*="twitter.com"]:after {
    background: #0084b4 !important;
}

.social-icons ul a[href*="linkedin.com"]:after,
.widget.widget_nav_menu ul a[href*="linkedin.com"]:before {
    content: "\f239";
}

.social-icons ul a[href*="linkedin.com"]:after {
    color: #0077B5 !important;
}

.social-icons ul li:hover a[href*="linkedin.com"]:after,
.widget.widget_nav_menu ul li a[href*="linkedin.com"]:before,
.widget.widget_nav_menu ul li a[href*="linkedin.com"]:after {
    background: #0077B5 !important;
}

.social-icons ul a[href*="instagram.com"]:after,
.widget.widget_nav_menu ul a[href*="instagram.com"]:before {
    content: "\f351";
}

.social-icons ul a[href*="instagram.com"]:after {
    color: #8a3ab9 !important;
}

.social-icons ul li:hover a[href*="instagram.com"]:after,
.widget.widget_nav_menu ul li a[href*="instagram.com"]:before,
.widget.widget_nav_menu ul li a[href*="instagram.com"]:after {
    background: #8a3ab9 !important;
}

.social-icons ul a[href*="youtube.com"]:after,
.widget.widget_nav_menu ul a[href*="youtube.com"]:before {
    content: "\f24d";
}

.social-icons ul a[href*="youtube.com"]:after {
    color: #bb0000 !important;
}

.social-icons ul li:hover a[href*="youtube.com"]:after,
.widget.widget_nav_menu ul li a[href*="youtube.com"]:before,
.widget.widget_nav_menu ul li a[href*="youtube.com"]:after {
    background: #bb0000 !important;
}

.social-icons ul a[href*="vimeo.com"]:after,
.widget.widget_nav_menu ul a[href*="vimeo.com"]:before {
    content: "\f245";
}

.social-icons ul a[href*="vimeo.com"]:after {
    color: #1ab7ea !important;
}

.social-icons ul li:hover a[href*="vimeo.com"]:after,
.widget.widget_nav_menu ul li a[href*="vimeo.com"]:before,
.widget.widget_nav_menu ul li a[href*="vimeo.com"]:after {
    background: #1ab7ea !important;
}

.social-icons ul a[href*="plus.google.com"]:after,
.widget.widget_nav_menu ul a[href*="plus.google.com"]:before {
    content: "\f34f";
}

.social-icons ul a[href*="plus.google.com"]:after {
    color: #d34836 !important;
}

.social-icons ul li:hover a[href*="plus.google.com"]:after,
.widget.widget_nav_menu ul li a[href*="plus.google.com"]:before,
.widget.widget_nav_menu ul li a[href*="plus.google.com"]:after {
    background: #d34836 !important;
}

.social-icons ul a[href*="pinterest.com"]:after,
.widget.widget_nav_menu ul a[href*="pinterest.com"]:before {
    content: "\f2b1";
}

.social-icons ul a[href*="pinterest.com"]:after {
    color: #bd2125 !important;
}

.social-icons ul li:hover a[href*="pinterest.com"]:after,
.widget.widget_nav_menu ul li a[href*="pinterest.com"]:before,
.widget.widget_nav_menu ul li a[href*="pinterest.com"]:after {
    background: #bd2125 !important;
}

.social-icons ul a[href*="tumblr.com"]:after,
.widget.widget_nav_menu ul a[href*="tumblr.com"]:before {
    content: "\f241";
}

.social-icons ul a[href*="tumblr.com"]:after {
    color: #32506a !important;
}

.social-icons ul li:hover a[href*="tumblr.com"]:after,
.widget.widget_nav_menu ul li a[href*="tumblr.com"]:before,
.widget.widget_nav_menu ul li a[href*="tumblr.com"]:after {
    background: #32506a !important;
}

.social-icons ul a[href*="wordpress.org"]:after,
.widget.widget_nav_menu ul a[href*="wordpress.org"]:before,
.social-icons ul a[href*="wordpress.com"]:after,
.widget.widget_nav_menu ul a[href*="wordpress.com"]:before {
    content: "\f249";
}

.social-icons ul a[href*="wordpress.org"]:after,
.social-icons ul a[href*="wordpress.com"]:after {
    color: #21759a !important;
}

.social-icons ul li:hover a[href*="wordpress.org"]:after,
.widget.widget_nav_menu ul li a[href*="wordpress.org"]:before,
.widget.widget_nav_menu ul li a[href*="wordpress.org"]:after,
.social-icons ul li:hover a[href*="wordpress.com"]:after,
.widget.widget_nav_menu ul li a[href*="wordpress.com"]:before,
.widget.widget_nav_menu ul li a[href*="wordpress.com"]:after {
    background: #21759a !important;
}

.social-icons ul a[href*="whatsapp.com"]:after,
.widget.widget_nav_menu ul a[href*="whatsapp.com"]:before {
    content: "\f4f0";
}

.social-icons ul a[href*="whatsapp.com"]:after {
    color: #4EC65A !important;
}

.social-icons ul li:hover a[href*="whatsapp.com"]:after,
.widget.widget_nav_menu ul li a[href*="whatsapp.com"]:before,
.widget.widget_nav_menu ul li a[href*="whatsapp.com"]:after {
    background: #4EC65A !important;
}

.social-icons ul a[href*="reddit.com"]:after,
.widget.widget_nav_menu ul a[href*="reddit.com"]:before {
    content: "\f23b";
}

.social-icons ul a[href*="reddit.com"]:after {
    color: #ff1a00 !important;
}

.social-icons ul li:hover a[href*="reddit.com"]:after,
.widget.widget_nav_menu ul li a[href*="reddit.com"]:before,
.widget.widget_nav_menu ul li a[href*="reddit.com"]:after {
    background: #ff1a00 !important;
}

/*--------------------------------------------------------------
##Slider
--------------------------------------------------------------*/

.slide-icon {
    position: absolute;
    z-index: 1;
    display: block;
    width: 60px;
    font-size: 42px;
    cursor: pointer;
    color: #fff;
    top: 50%;
    text-align: center;
    padding: 0;
}

.slide-icon:before {
    background: #ffc000;
    filter: alpha(opacity=75);
    opacity: 0.75;
    display: block;
}

.slide-prev:hover,
.slide-prev:focus,
.slide-next:hover,
.slide-next:focus {
    outline: none;
}

.slide-prev {
    left: 0;
}

.slide-next {
    right: 0;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    display: block;
    width: 100%;
    padding: 0;
    padding-right: 20px;
    margin: 0 auto;
    list-style: none;
    text-align: right;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    content: "";
    background: transparent;
    border: 1px solid #fff;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

.inner-banner{
    width: 100%;
    background-repeat: repeat;
    background-color: #3f3f3f;
    background-attachment: scroll;
    background-size: inherit;
    position: absolute;
    z-index: 20;
}

.featured-slider:hover .featured-slider-image img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.featured-slider .featured-slide-item {
    overflow: hidden;
    position: relative;
    margin-bottom: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.featured-slider .featured-slider-image {
    margin: 0;
}

.featured-slider .featured-slider-image img {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s ease-in-out;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.featured-slider .article-wrapper-featured {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-image: -webkit-linear-gradient(top, transparent, #000);
    background-image: linear-gradient(to bottom, transparent, #000);
}

.feature-post .post-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px 35px;
    z-index: 1;
    color: #fff;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodÃ¢â‚¬Â¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.13) 18%, rgba(0, 0, 0, 0.33) 36%, rgba(0, 0, 0, 0.74) 70%, rgba(0, 0, 0, 0.91) 87%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
    border-radius: 0 0 3px 3px;
    width: 100%;
}

.article-bg-animation:hover .post-content {
    padding-top: 50%;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodÃ¢â‚¬Â¦EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.20) 18%, rgba(0, 0, 0, 0.42) 36%, rgba(0, 0, 0, 0.85) 70%, rgba(0, 0, 0, 0.95) 87%, rgba(0, 0, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
}

.posts-slider--center .slick-prev {
    right: 50%;
    margin-right: 4px;
}

.posts-slider--center .slick-next {
    right: auto;
    left: 50%;
    margin-left: 4px;
}

@media (min-width: 992px) {
    .featured-slider .article-wrapper-featured {
        padding: 30px 23% 30px 40px;
    }

    .posts-slider--center .slick-prev,
    .posts-slider--center .slick-next {
        top: inherit;
        bottom: 50px;
    }
}


.slide-title {
    color: #fff;
    font-size: 2.5em;
    line-height: 1.2;
}

.slide-title span {
    display: block;
}

/*--------------------------------------------------------------
## Homepage
--------------------------------------------------------------*/
.row-collapse {
    margin-left: -2px;
    margin-right: -2px;
}

.small-pad {
    padding-left: 2px;
    padding-right: 2px;
}

.section-effect-1 img {
    opacity: 0.90;
    filter: alpha(opacity=90);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.section-effect-1 figure {
    background: #000;
    position: relative;
    margin-bottom: 4px;
    overflow: hidden;
}

.section-effect-1 figure:hover img {
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.section-effect-1 figcaption {
    position: absolute;
    bottom: 15px;
    margin: 0 30px 0px 0;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
}

.mainbanner-jumbotron figure figcaption > a {
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.section-effect-1 figcaption h2 {
    font-size: 18px;
    line-height: 20px;
    margin: 0px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.30);
}

.section-effect-1 figcaption h2 a {
    color: #fff;
}

.section-effect-1 .post-meta {
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.80);
}

.mainbanner-jumbotron .post-meta {
    font-size: 12px;
    padding-top: 10px;
}

.post-meta span {
    display: inline-block;
    padding: 0 10px;
}

.post-meta span a {
    color: #fff;
}

.grid-post .post-meta span a {
    color: #333;
}

.post-meta .post-author span {
    padding: 0 5px;
}

@media only screen and (min-width: 1200px) {
    .mainbanner-jumbotron figcaption h2 {
        font-size: 40px;
        line-height: 55px;
    }

    .mainbanner-jumbotron figcaption {
        bottom: 40px;
        margin: 0 255px 0px 0;
        padding: 15px 25px;
    }
}

.post-title {
    position: absolute;
    bottom: 10px;
    margin: 0px 30px 0px 0px;
    z-index: 9;
    -webkit-transition: bottom .2s ease-in-out;
    -moz-transition: bottom .2s ease-in-out;
    -o-transition: bottom .2s ease-in-out;
    transition: bottom .2s ease-in-out;
}

.featured-article:hover .post-title {
    bottom: 70px;
}

.post-title h2 {
    margin-top: 0px;
    padding: 15px 20px 15px 20px;
    background-color: rgba(0, 0, 0, 0.50);
    font-size: 19px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #4A4A4A;
    text-transform: uppercase;
}

.post-title h2 a {
    color: #fff;
}

.post-image {
    background: #000;
    position: relative;
    overflow: hidden;
}

.post-image:after {
    display: block;
    content: " ";
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    border: 1px solid rgba(255, 255, 255, 0.30);
}

.post-image img {
    opacity: 0.90;
    filter: alpha(opacity=90);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.post-image:hover img {
    opacity: 0.60;
    filter: alpha(opacity=60);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.post-title .post-category-label {
    margin-left: 20px;
    z-index: 1000;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
}

.post-title .post-category-label span {
    padding: 8px 10px;
    margin-right: 5px;
}

/* small article post */
.article-list {
    margin: 0 0 20px 0;
    border-bottom: solid 1px;
    border-color: #CFCFCF;
    padding-bottom: 15px;
    display: table;
    position: relative;
    width: 100%;
}

.site-footer .article-panel .article-list,
#trendingCollapse .article-list {
    border-color: #3D3D3D;
}

.catagories-widget [class*="col-"]:last-child .article-list {
    margin-bottom: -20px;
    border-bottom: none;
}

@media screen and (max-width: 990px) {
    .article-list:last-child {
        margin-bottom: 20px;
        border-bottom: none;
    }
}

.article-list .article-image {
    float: left;
    width: 120px;
    vertical-align: middle;
    position: relative;
    margin-right: 30px;
}

.article-list .article-body {
    display: table-cell;
    vertical-align: top;
    position: absolute;
    left: 105px;
    bottom: 15px;
}

.site-footer .article-list .article-body {
    bottom: 35px;
}

.article-list h2 {
    margin: 0px;
    padding: 6px 15px;
    font-size: 13px;
    font-weight: 900;
    line-height: 19px;
}

.post-description {
    padding-left: 25px;
}

.grid-post .post-title {
    bottom: 0;
}

.grid-post .post-title h2 {
    margin: 0 auto;
    padding: 20px 20px 10px 0px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 26px;
    /* letter-spacing: 0.2px; */
    text-transform: uppercase;
}

.grid-post .post-title a {
    color: #4A4A4A;
}

.section-heading:before,
.section-heading:after {
    clear: both;
    content: "";
    display: table;
}

.section-heading {
    position: relative;
}

.section-heading .heading-title {
    display: inline-block;
}

.slide-navigation .slide-icon {
    top: 0;
}

.slide-navigation .slide-icon.slide-prev {
    left: inherit;
    right: 50px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    background-color: #242424;
    color: #fff;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover,
.site-footer a:focus {
    color: #ffc000;
}

.site-footer .footer-widget .widget-title {
    color: #fff;
}

.site-footer .footer-widget .widget-area {
    border-left: 1px solid #333;
    display: table-cell;
    text-align: center;
    width: 33%;
    width: calc(100% / 3);
}

.site-footer .footer-widget .widget-area:last-child {
    border-right: 1px solid #333;
}

.site-footer .footer-widget .widget-area .widget {
    padding: 0.8em 10%;
}

.site-footer .footer-widget .widget-area .widget .widget-title {
    text-transform: uppercase;
}

.site-footer .footer-widget .widget-area .widget.simple-social-icons {
    padding: 0;
}

.simple-social-icons {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

.simple-social-icons ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
}

.simple-social-icons ul li {
    display: inline-block;
    margin: 12px 7px;
}

.simple-social-icons ul li a {
    display: block;
    color: #333;
    font-size: 28px;
    font-size: 1.75rem;
}

.simple-social-icons ul li a:hover, .simple-social-icons ul li a:focus {
    color: #c0c0c0;
}

.site-info {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    background: #000;
}

.site-info .site-copyright {
    padding: 25px 0;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 0 auto;
}

.site-info .site-copyright span:before {
    color: #ff5b5b;
    animation: heartify .5s infinite alternate;
    -webkit-animation: heartify .5s infinite alternate;
    -moz-animation: heartify .5s infinite alternate;
    -o-animation: heartify .5s infinite alternate;
    -ms-animation: heartify .5s infinite alternate;
}

@-webkit-keyframes heartify {
    from {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@-moz-keyframes heartify {
    from {
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes heartify {
    from {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        transform: scale(0.8);
    }
}

/*--------------------------------------------------------------
##Back to top
--------------------------------------------------------------*/
#scroll-up {
    position: fixed;
    z-index: 8000;
    bottom: 45px;
    right: 30px;
    display: none;
    width: 48px;
    height: 48px;
    border: 1px solid #333;
    background: #fff;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#scroll-up i {
    color: #333;
}

#scroll-up:hover,
#scroll-up:focus {
    background-color: #373737;
    border-color: #373737;
    line-height: 45px;

}

#scroll-up:hover i,
#scroll-up:focus i {
    color: #fff;
    display: block;

}

@media only screen and (max-width: 767px) {
    #scroll-up {
        right: 20px;
        bottom: 20px;
    }
}
.author-info .profile-image {
    background-position: 50% 50% !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 100%;
    height: 124px;
    margin: auto;
    width: 124px;
}

.author-info .author-details {
    text-align: center;
}

.author-info .author-social {
    margin-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.author-info .author-social > a {
    border: 1px solid #d2d2d2;
    border-radius: 100%;
    color: #d2d2d2;
    display: inline-block;
    font-size: 11px;
    height: 40px;
    line-height: 40px;
    margin: 0 4px;
    width: 40px;
}

.author-info .author-social .meta-icon {
    margin: 0 auto;
    padding: 0;
    font-size: 24px;
}
/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-caption {
    display: block;
}

.nav-links .page-numbers {
    background: transparent;
    display: block;
    float: left;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    margin-right: 7px;
    padding-left: 15px;
    padding-right: 15px;
    font-weight: 700;
}

.nav-links .page-numbers.current,
.nav-links .page-numbers:hover,
.nav-links .page-numbers:focus,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current {
    background: #ffc000;
    color: #fff;
    border-color: #ffc000;
}

.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
    padding-left: 15px;
    padding-right: 15px;
    display: block !important;
    height: 40px;
    line-height: 40px;
}

.recent-blog {
    margin: 50px auto;
}

.recent-widget-list {
    margin: 0 auto;
    padding: 0;
}

.trend-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000000;
    font-weight: 700;
    opacity: .45;
    text-align: center;
    font-size: 80px;
    line-height: 100%;
}

.trend-item span.number {
    line-height: 120px;
}

body.home.blog .inner-banner {
    background-attachment: fixed;
}

/*Responsive fixes*/

/*verticle css*/
.mt-0 {
    margin-top: 0 !important
}

.mt-10 {
    margin-top: 10px
}

.mt-20 {
    margin-top: 20px
}

.mt-30 {
    margin-top: 30px
}

.mt-40 {
    margin-top: 40px
}

.mt-50 {
    margin-top: 50px
}

.mt-60 {
    margin-top: 60px
}

.mt-70 {
    margin-top: 70px
}

.mt-80 {
    margin-top: 80px
}

.mt-90 {
    margin-top: 90px
}

.mt-100 {
    margin-top: 100px
}

.mt-110 {
    margin-top: 110px
}

.mt-120 {
    margin-top: 120px
}

.mt-130 {
    margin-top: 130px
}

.mt-140 {
    margin-top: 140px
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-10 {
    margin-bottom: 10px
}

.mb-20 {
    margin-bottom: 20px
}

.mb-30 {
    margin-bottom: 30px
}

.mb-40 {
    margin-bottom: 40px
}

.mb-50 {
    margin-bottom: 50px
}

.mb-60 {
    margin-bottom: 60px
}

.mb-70 {
    margin-bottom: 70px
}

.mb-80 {
    margin-bottom: 80px
}

.mb-90 {
    margin-bottom: 90px
}

.mb-100 {
    margin-bottom: 100px
}

.mb-110 {
    margin-bottom: 110px
}

.mb-120 {
    margin-bottom: 120px
}

.mb-130 {
    margin-bottom: 130px
}

.mb-140 {
    margin-bottom: 140px
}

.pt-0 {
    padding-top: 0 !important
}

.pt-10 {
    padding-top: 10px
}

.pt-20 {
    padding-top: 20px
}

.pt-30 {
    padding-top: 30px
}

.pt-40 {
    padding-top: 40px
}

.pt-50 {
    padding-top: 50px
}

.pt-60 {
    padding-top: 60px
}

.pt-70 {
    padding-top: 70px
}

.pt-80 {
    padding-top: 80px
}

.pt-90 {
    padding-top: 90px
}

.pt-100 {
    padding-top: 100px
}

.pt-110 {
    padding-top: 110px
}

.pt-120 {
    padding-top: 120px
}

.pt-130 {
    padding-top: 130px
}

.pt-140 {
    padding-top: 140px
}

.pb-0 {
    padding-bottom: 0 !important
}

.pb-10 {
    padding-bottom: 10px
}

.pb-20 {
    padding-bottom: 20px
}

.pb-30 {
    padding-bottom: 30px
}

.pb-40 {
    padding-bottom: 40px
}

.pb-50 {
    padding-bottom: 50px
}

.pb-60 {
    padding-bottom: 60px
}

.pb-70 {
    padding-bottom: 70px
}

.pb-80 {
    padding-bottom: 80px
}

.pb-90 {
    padding-bottom: 90px
}

.pb-100 {
    padding-bottom: 100px
}

.pb-110 {
    padding-bottom: 110px
}

.pb-120 {
    padding-bottom: 120px
}

.pb-130 {
    padding-bottom: 130px
}

.pb-140 {
    padding-bottom: 140px
}

@media only screen and (min-width: 1200px) {
    .mt-lg-0 {
        margin-top: 0 !important
    }

    .mt-lg-10 {
        margin-top: 10px
    }

    .mt-lg-20 {
        margin-top: 20px
    }

    .mt-lg-30 {
        margin-top: 30px
    }

    .mt-lg-40 {
        margin-top: 40px
    }

    .mt-lg-50 {
        margin-top: 50px
    }

    .mt-lg-60 {
        margin-top: 60px
    }

    .mt-lg-70 {
        margin-top: 70px
    }

    .mt-lg-80 {
        margin-top: 80px
    }

    .mt-lg-90 {
        margin-top: 90px
    }

    .mt-lg-100 {
        margin-top: 100px
    }

    .mt-lg-110 {
        margin-top: 110px
    }

    .mt-lg-120 {
        margin-top: 120px
    }

    .mt-lg-130 {
        margin-top: 130px
    }

    .mt-lg-140 {
        margin-top: 140px
    }

    .mb-lg-0 {
        margin-bottom: 0 !important
    }

    .mb-lg-10 {
        margin-bottom: 10px
    }

    .mb-lg-20 {
        margin-bottom: 20px
    }

    .mb-lg-30 {
        margin-bottom: 30px
    }

    .mb-lg-40 {
        margin-bottom: 40px
    }

    .mb-lg-50 {
        margin-bottom: 50px
    }

    .mb-lg-60 {
        margin-bottom: 60px
    }

    .mb-lg-70 {
        margin-bottom: 70px
    }

    .mb-lg-80 {
        margin-bottom: 80px
    }

    .mb-lg-90 {
        margin-bottom: 90px
    }

    .mb-lg-100 {
        margin-bottom: 100px
    }

    .mb-lg-110 {
        margin-bottom: 110px
    }

    .mb-lg-120 {
        margin-bottom: 120px
    }

    .mb-lg-130 {
        margin-bottom: 130px
    }

    .mb-lg-140 {
        margin-bottom: 140px
    }

    .pt-lg-0 {
        padding-top: 0 !important
    }

    .pt-lg-10 {
        padding-top: 10px
    }

    .pt-lg-20 {
        padding-top: 20px
    }

    .pt-lg-30 {
        padding-top: 30px
    }

    .pt-lg-40 {
        padding-top: 40px
    }

    .pt-lg-50 {
        padding-top: 50px
    }

    .pt-lg-60 {
        padding-top: 60px
    }

    .pt-lg-70 {
        padding-top: 70px
    }

    .pt-lg-80 {
        padding-top: 80px
    }

    .pt-lg-90 {
        padding-top: 90px
    }

    .pt-lg-100 {
        padding-top: 100px
    }

    .pt-lg-110 {
        padding-top: 110px
    }

    .pt-lg-120 {
        padding-top: 120px
    }

    .pt-lg-130 {
        padding-top: 130px
    }

    .pt-lg-140 {
        padding-top: 140px
    }

    .pb-lg-0 {
        padding-bottom: 0 !important
    }

    .pb-lg-10 {
        padding-bottom: 10px
    }

    .pb-lg-20 {
        padding-bottom: 20px
    }

    .pb-lg-30 {
        padding-bottom: 30px
    }

    .pb-lg-40 {
        padding-bottom: 40px
    }

    .pb-lg-50 {
        padding-bottom: 50px
    }

    .pb-lg-60 {
        padding-bottom: 60px
    }

    .pb-lg-70 {
        padding-bottom: 70px
    }

    .pb-lg-80 {
        padding-bottom: 80px
    }

    .pb-lg-90 {
        padding-bottom: 90px
    }

    .pb-lg-100 {
        padding-bottom: 100px
    }

    .pb-lg-110 {
        padding-bottom: 110px
    }

    .pb-lg-120 {
        padding-bottom: 120px
    }

    .pb-lg-130 {
        padding-bottom: 130px
    }

    .pb-lg-140 {
        padding-bottom: 140px
    }
}

@media only screen and (min-width: 991px) {
    .mt-md-0 {
        margin-top: 0 !important
    }

    .mt-md-10 {
        margin-top: 10px
    }

    .mt-md-20 {
        margin-top: 20px
    }

    .mt-md-30 {
        margin-top: 30px
    }

    .mt-md-40 {
        margin-top: 40px
    }

    .mt-md-50 {
        margin-top: 50px
    }

    .mt-md-60 {
        margin-top: 60px
    }

    .mt-md-70 {
        margin-top: 70px
    }

    .mt-md-80 {
        margin-top: 80px
    }

    .mt-md-90 {
        margin-top: 90px
    }

    .mt-md-100 {
        margin-top: 100px
    }

    .mt-md-110 {
        margin-top: 110px
    }

    .mt-md-120 {
        margin-top: 120px
    }

    .mt-md-130 {
        margin-top: 130px
    }

    .mt-md-140 {
        margin-top: 140px
    }

    .mb-md-0 {
        margin-bottom: 0 !important
    }

    .mb-md-10 {
        margin-bottom: 10px
    }

    .mb-md-20 {
        margin-bottom: 20px
    }

    .mb-md-30 {
        margin-bottom: 30px
    }

    .mb-md-40 {
        margin-bottom: 40px
    }

    .mb-md-50 {
        margin-bottom: 50px
    }

    .mb-md-60 {
        margin-bottom: 60px
    }

    .mb-md-70 {
        margin-bottom: 70px
    }

    .mb-md-80 {
        margin-bottom: 80px
    }

    .mb-md-90 {
        margin-bottom: 90px
    }

    .mb-md-100 {
        margin-bottom: 100px
    }

    .mb-md-110 {
        margin-bottom: 110px
    }

    .mb-md-120 {
        margin-bottom: 120px
    }

    .mb-md-130 {
        margin-bottom: 130px
    }

    .mb-md-140 {
        margin-bottom: 140px
    }

    .pt-md-0 {
        padding-top: 0 !important
    }

    .pt-md-10 {
        padding-top: 10px
    }

    .pt-md-20 {
        padding-top: 20px
    }

    .pt-md-30 {
        padding-top: 30px
    }

    .pt-md-40 {
        padding-top: 40px
    }

    .pt-md-50 {
        padding-top: 50px
    }

    .pt-md-60 {
        padding-top: 60px
    }

    .pt-md-70 {
        padding-top: 70px
    }

    .pt-md-80 {
        padding-top: 80px
    }

    .pt-md-90 {
        padding-top: 90px
    }

    .pt-md-100 {
        padding-top: 100px
    }

    .pt-md-110 {
        padding-top: 110px
    }

    .pt-md-120 {
        padding-top: 120px
    }

    .pt-md-130 {
        padding-top: 130px
    }

    .pt-md-140 {
        padding-top: 140px
    }

    .pb-md-0 {
        padding-bottom: 0 !important
    }

    .pb-md-10 {
        padding-bottom: 10px
    }

    .pb-md-20 {
        padding-bottom: 20px
    }

    .pb-md-30 {
        padding-bottom: 30px
    }

    .pb-md-40 {
        padding-bottom: 40px
    }

    .pb-md-50 {
        padding-bottom: 50px
    }

    .pb-md-60 {
        padding-bottom: 60px
    }

    .pb-md-70 {
        padding-bottom: 70px
    }

    .pb-md-80 {
        padding-bottom: 80px
    }

    .pb-md-90 {
        padding-bottom: 90px
    }

    .pb-md-100 {
        padding-bottom: 100px
    }

    .pb-md-110 {
        padding-bottom: 110px
    }

    .pb-md-120 {
        padding-bottom: 120px
    }

    .pb-md-130 {
        padding-bottom: 130px
    }

    .pb-md-140 {
        padding-bottom: 140px
    }
}

@media only screen and (min-width: 768px) {
    .mt-sm-0 {
        margin-top: 0 !important
    }

    .mt-sm-10 {
        margin-top: 10px
    }

    .mt-sm-20 {
        margin-top: 20px
    }

    .mt-sm-30 {
        margin-top: 30px
    }

    .mt-sm-40 {
        margin-top: 40px
    }

    .mt-sm-50 {
        margin-top: 50px
    }

    .mt-sm-60 {
        margin-top: 60px
    }

    .mt-sm-70 {
        margin-top: 70px
    }

    .mt-sm-80 {
        margin-top: 80px
    }

    .mt-sm-90 {
        margin-top: 90px
    }

    .mt-sm-100 {
        margin-top: 100px
    }

    .mt-sm-110 {
        margin-top: 110px
    }

    .mt-sm-120 {
        margin-top: 120px
    }

    .mt-sm-130 {
        margin-top: 130px
    }

    .mt-sm-140 {
        margin-top: 140px
    }

    .mb-sm-0 {
        margin-bottom: 0 !important
    }

    .mb-sm-10 {
        margin-bottom: 10px
    }

    .mb-sm-20 {
        margin-bottom: 20px
    }

    .mb-sm-30 {
        margin-bottom: 30px
    }

    .mb-sm-40 {
        margin-bottom: 40px
    }

    .mb-sm-50 {
        margin-bottom: 50px
    }

    .mb-sm-60 {
        margin-bottom: 60px
    }

    .mb-sm-70 {
        margin-bottom: 70px
    }

    .mb-sm-80 {
        margin-bottom: 80px
    }

    .mb-sm-90 {
        margin-bottom: 90px
    }

    .mb-sm-100 {
        margin-bottom: 100px
    }

    .mb-sm-110 {
        margin-bottom: 110px
    }

    .mb-sm-120 {
        margin-bottom: 120px
    }

    .mb-sm-130 {
        margin-bottom: 130px
    }

    .mb-sm-140 {
        margin-bottom: 140px
    }

    .pt-sm-0 {
        padding-top: 0 !important
    }

    .pt-sm-10 {
        padding-top: 10px
    }

    .pt-sm-20 {
        padding-top: 20px
    }

    .pt-sm-30 {
        padding-top: 30px
    }

    .pt-sm-40 {
        padding-top: 40px
    }

    .pt-sm-50 {
        padding-top: 50px
    }

    .pt-sm-60 {
        padding-top: 60px
    }

    .pt-sm-70 {
        padding-top: 70px
    }

    .pt-sm-80 {
        padding-top: 80px
    }

    .pt-sm-90 {
        padding-top: 90px
    }

    .pt-sm-100 {
        padding-top: 100px
    }

    .pt-sm-110 {
        padding-top: 110px
    }

    .pt-sm-120 {
        padding-top: 120px
    }

    .pt-sm-130 {
        padding-top: 130px
    }

    .pt-sm-140 {
        padding-top: 140px
    }

    .pb-sm-0 {
        padding-bottom: 0 !important
    }

    .pb-sm-10 {
        padding-bottom: 10px
    }

    .pb-sm-20 {
        padding-bottom: 20px
    }

    .pb-sm-30 {
        padding-bottom: 30px
    }

    .pb-sm-40 {
        padding-bottom: 40px
    }

    .pb-sm-50 {
        padding-bottom: 50px
    }

    .pb-sm-60 {
        padding-bottom: 60px
    }

    .pb-sm-70 {
        padding-bottom: 70px
    }

    .pb-sm-80 {
        padding-bottom: 80px
    }

    .pb-sm-90 {
        padding-bottom: 90px
    }

    .pb-sm-100 {
        padding-bottom: 100px
    }

    .pb-sm-110 {
        padding-bottom: 110px
    }

    .pb-sm-120 {
        padding-bottom: 120px
    }

    .pb-sm-130 {
        padding-bottom: 130px
    }

    .pb-sm-140 {
        padding-bottom: 140px
    }
}

@media only screen and (max-width: 767px) {
    .mt-xs-0 {
        margin-top: 0 !important
    }

    .mt-xs-10 {
        margin-top: 10px
    }

    .mt-xs-20 {
        margin-top: 20px
    }

    .mt-xs-30 {
        margin-top: 30px
    }

    .mt-xs-40 {
        margin-top: 40px
    }

    .mt-xs-50 {
        margin-top: 50px
    }

    .mt-xs-60 {
        margin-top: 60px
    }

    .mt-xs-70 {
        margin-top: 70px
    }

    .mt-xs-80 {
        margin-top: 80px
    }

    .mt-xs-90 {
        margin-top: 90px
    }

    .mt-xs-100 {
        margin-top: 100px
    }

    .mt-xs-110 {
        margin-top: 110px
    }

    .mt-xs-120 {
        margin-top: 120px
    }

    .mt-xs-130 {
        margin-top: 130px
    }

    .mt-xs-140 {
        margin-top: 140px
    }

    .mb-xs-0 {
        margin-bottom: 0 !important
    }

    .mb-xs-10 {
        margin-bottom: 10px
    }

    .mb-xs-20 {
        margin-bottom: 20px
    }

    .mb-xs-30 {
        margin-bottom: 30px
    }

    .mb-xs-40 {
        margin-bottom: 40px
    }

    .mb-xs-50 {
        margin-bottom: 50px
    }

    .mb-xs-60 {
        margin-bottom: 60px
    }

    .mb-xs-70 {
        margin-bottom: 70px
    }

    .mb-xs-80 {
        margin-bottom: 80px
    }

    .mb-xs-90 {
        margin-bottom: 90px
    }

    .mb-xs-100 {
        margin-bottom: 100px
    }

    .mb-xs-110 {
        margin-bottom: 110px
    }

    .mb-xs-120 {
        margin-bottom: 120px
    }

    .mb-xs-130 {
        margin-bottom: 130px
    }

    .mb-xs-140 {
        margin-bottom: 140px
    }

    .pt-xs-0 {
        padding-top: 0 !important
    }

    .pt-xs-10 {
        padding-top: 10px
    }

    .pt-xs-20 {
        padding-top: 20px
    }

    .pt-xs-30 {
        padding-top: 30px
    }

    .pt-xs-40 {
        padding-top: 40px
    }

    .pt-xs-50 {
        padding-top: 50px
    }

    .pt-xs-60 {
        padding-top: 60px
    }

    .pt-xs-70 {
        padding-top: 70px
    }

    .pt-xs-80 {
        padding-top: 80px
    }

    .pt-xs-90 {
        padding-top: 90px
    }

    .pt-xs-100 {
        padding-top: 100px
    }

    .pt-xs-110 {
        padding-top: 110px
    }

    .pt-xs-120 {
        padding-top: 120px
    }

    .pt-xs-130 {
        padding-top: 130px
    }

    .pt-xs-140 {
        padding-top: 140px
    }

    .pb-xs-0 {
        padding-bottom: 0 !important
    }

    .pb-xs-10 {
        padding-bottom: 10px
    }

    .pb-xs-20 {
        padding-bottom: 20px
    }

    .pb-xs-30 {
        padding-bottom: 30px
    }

    .pb-xs-40 {
        padding-bottom: 40px
    }

    .pb-xs-50 {
        padding-bottom: 50px
    }

    .pb-xs-60 {
        padding-bottom: 60px
    }

    .pb-xs-70 {
        padding-bottom: 70px
    }

    .pb-xs-80 {
        padding-bottom: 80px
    }

    .pb-xs-90 {
        padding-bottom: 90px
    }

    .pb-xs-100 {
        padding-bottom: 100px
    }

    .pb-xs-110 {
        padding-bottom: 110px
    }

    .pb-xs-120 {
        padding-bottom: 120px
    }

    .pb-xs-130 {
        padding-bottom: 130px
    }

    .pb-xs-140 {
        padding-bottom: 140px
    }
}

@media only screen and (max-width: 480px) {
    .mt-xxs-0 {
        margin-top: 0 !important
    }

    .mt-xxs-10 {
        margin-top: 10px
    }

    .mt-xxs-20 {
        margin-top: 20px
    }

    .mt-xxs-30 {
        margin-top: 30px
    }

    .mt-xxs-40 {
        margin-top: 40px
    }

    .mt-xxs-50 {
        margin-top: 50px
    }

    .mt-xxs-60 {
        margin-top: 60px
    }

    .mt-xxs-70 {
        margin-top: 70px
    }

    .mt-xxs-80 {
        margin-top: 80px
    }

    .mt-xxs-90 {
        margin-top: 90px
    }

    .mt-xxs-100 {
        margin-top: 100px
    }

    .mt-xxs-110 {
        margin-top: 110px
    }

    .mt-xxs-120 {
        margin-top: 120px
    }

    .mt-xxs-130 {
        margin-top: 130px
    }

    .mt-xxs-140 {
        margin-top: 140px
    }

    .mb-xxs-0 {
        margin-bottom: 0 !important
    }

    .mb-xxs-10 {
        margin-bottom: 10px
    }

    .mb-xxs-20 {
        margin-bottom: 20px
    }

    .mb-xxs-30 {
        margin-bottom: 30px
    }

    .mb-xxs-40 {
        margin-bottom: 40px
    }

    .mb-xxs-50 {
        margin-bottom: 50px
    }

    .mb-xxs-60 {
        margin-bottom: 60px
    }

    .mb-xxs-70 {
        margin-bottom: 70px
    }

    .mb-xxs-80 {
        margin-bottom: 80px
    }

    .mb-xxs-90 {
        margin-bottom: 90px
    }

    .mb-xxs-100 {
        margin-bottom: 100px
    }

    .mb-xxs-110 {
        margin-bottom: 110px
    }

    .mb-xxs-120 {
        margin-bottom: 120px
    }

    .mb-xxs-130 {
        margin-bottom: 130px
    }

    .mb-xxs-140 {
        margin-bottom: 140px
    }

    .pt-xxs-0 {
        padding-top: 0 !important
    }

    .pt-xxs-10 {
        padding-top: 10px
    }

    .pt-xxs-20 {
        padding-top: 20px
    }

    .pt-xxs-30 {
        padding-top: 30px
    }

    .pt-xxs-40 {
        padding-top: 40px
    }

    .pt-xxs-50 {
        padding-top: 50px
    }

    .pt-xxs-60 {
        padding-top: 60px
    }

    .pt-xxs-70 {
        padding-top: 70px
    }

    .pt-xxs-80 {
        padding-top: 80px
    }

    .pt-xxs-90 {
        padding-top: 90px
    }

    .pt-xxs-100 {
        padding-top: 100px
    }

    .pt-xxs-110 {
        padding-top: 110px
    }

    .pt-xxs-120 {
        padding-top: 120px
    }

    .pt-xxs-130 {
        padding-top: 130px
    }

    .pt-xxs-140 {
        padding-top: 140px
    }

    .pb-xxs-0 {
        padding-bottom: 0 !important
    }

    .pb-xxs-10 {
        padding-bottom: 10px
    }

    .pb-xxs-20 {
        padding-bottom: 20px
    }

    .pb-xxs-30 {
        padding-bottom: 30px
    }

    .pb-xxs-40 {
        padding-bottom: 40px
    }

    .pb-xxs-50 {
        padding-bottom: 50px
    }

    .pb-xxs-60 {
        padding-bottom: 60px
    }

    .pb-xxs-70 {
        padding-bottom: 70px
    }

    .pb-xxs-80 {
        padding-bottom: 80px
    }

    .pb-xxs-90 {
        padding-bottom: 90px
    }

    .pb-xxs-100 {
        padding-bottom: 100px
    }

    .pb-xxs-110 {
        padding-bottom: 110px
    }

    .pb-xxs-120 {
        padding-bottom: 120px
    }

    .pb-xxs-130 {
        padding-bottom: 130px
    }

    .pb-xxs-140 {
        padding-bottom: 140px
    }
}

time.updated {
    display: none;
}

body.home.blog .news-ticker-section {
    margin-bottom: 30px;
}
body .magazine_prime_list_panel_widget .col-half:nth-child(odd){
    clear: left;
}
